body {
  color: #ef4642;
}
.slide .container {
  padding: 0;
}
.section h1 {
  font-style: normal;
  text-align: center;
}
.proImg {
  background-size: contain;
  display: block;
  float: right;
  height: 8rem;
  width: 8rem;
  border-radius: 4rem;
  -webkit-border-radius: 4rem;
  -moz-border-radius: 4rem;
  margin-left: auto;
  margin-right: auto;
}
.matches {
  font-weight: 700;
}
.chat{
  margin: 0 auto;
  width: 60%;
}
.chatpage{
  text-align: center;
  font-size: 2rem;
  margin: 0 auto;
  width: 100%;
  border: border: 1px solid black;
}

.headerDivider {
     border-left:1px solid #38546d; 
     border-right:1px solid #16222c; 
     height:80px;
     position:absolute;
     right:249px;
     top:10px; 
}
hr{
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  width: 50%;
  border-color: #EF4642
  color: #EF4642;
}
.spacer-5 {
  height: 5%;
  width: 100%;
}

.button {
  cursor: pointer;
}

.profile {
  margin-top: 6rem;
}
.cover {
  position:fixed;
  top: 0px;
  left: 0px;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: rgba(200,200,200,.5);
  text-align: center;
}

  .logInButton {
    color: white;
    margin-top: 20%;
  }
  .logInText {
    padding: 1.5rem 0;
  }
.profileImage {
  background: ;
}
.swipeContainer {  
  color: #ef4642;
  width: 100%;
  height: 100%;
}
  .swipeContainer li {
    display: inline-block;
    width: 33%;
    height: 100%;
    vertical-align: top;
  }
    .newProfile {
      border-radius: 20px;
      background: #ef4642;
      width: 80%;
      height: 70%;
      margin: 0 10%;
      padding: 5%;
      -webkit-box-shadow: 4px 4px 0 #ccc;
      -moz-box-shadow:    4px 4px 0 #ccc;
      box-shadow:         4px 4px 0 #ccc;
    }
      .otherUserProfilePicture {
        background: white;
        background-size: 100%;
        width: 100%;
        height: 40%;
      }
      .otherUserInfo {
        color: white;
        text-align: center;
      }

    .getRumblesButton {
      color:white;
      margin-top: 1rem;
      width: 30%;
      text-align: center;
      padding-top: 6%;
      -webkit-box-shadow: 4px 4px 0 #ccc;
      -moz-box-shadow:    4px 4px 0 #ccc;
      box-shadow:         4px 4px 0 #ccc;
    }

.circle-left {
  background: url(../img/bandaids.svg);
  cursor: pointer;
  width: 100px;
  height: 100px;
  top: 30%;
  float: right;
}
.circle-right {
  background: url(../img/fist.svg);
  cursor: pointer;
  width: 100px;
  height: 100px;
  top: 30%;
}

.submitButton {
    margin-top:10px;
    padding: 1rem;
    display: inline-block;
    background-color:#EF4642;
    color: #FFFFFF;
    cursor: pointer;
}

.radiusBox{
    text-align:center;
}