body {
  background-color: #f6f6f6;
}
.top-nav {
  display: block;
  margin-bottom: 0;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 0;
  position: relative;
  vertical-align: baseline;
  width: 90%;
}
ul {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
}
.dropdown{
  margin: 0;
  padding: 0;
  float: left;
}
.dropdown li {
  display: list-item;
  float: left;
  list-style-position: outside;
  list-style-image: none;
  list-style-type: none;
  padding-left: 1em;
  padding-right: 1em;
  position: relative;
}
.dropdown li a {
  display: block;
  color: black;
  text-decoration: none;
}
.section h1 {
   font-style: normal;
   text-align: center;
  }
.profileImage {
  background: url() no-repeat;
  height: 8rem;
  width: 8rem;
  border-radius: 4rem;
  -webkit-border-radius: 4rem;
  -moz-border-radius: 4rem;
}