html, body {
  font-family: 'CooperHewitt', 'Chivo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 100%;
  margin: 0;
  padding: 0;
}
header{
  background: url('http://static.tumblr.com/eptv8ch/HaMnj8hrt/3120298679_0f5cbc9af6_o.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  padding: 16rem 0;
  text-align: center;
  vertical-align: top;
}
h1{
  font-size: 4rem;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
  vertical-align: center top;
}
.button{
  background-color: #ef4642;
  height: 4rem;
  letter-spacing: 3px;
  margin: 0 auto;
  text-transform: uppercase;
  width: 15%;
}
.slider {
  height: 100%;
}
.login {
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.login a{
  color: white;
  display: block;
  text-decoration: none;
}
.lets-go {
  padding: 1.5rem 0;
}
.container {
  margin: 0 auto;
  padding: 4rem 0;
  width: 80%;
}
.column-image {
  margin: 2rem 0;
  max-width: 100%;
}
footer {
  background-color: #ef4642;
  color: white;
}

/*-----------------------------------*\

 Toast
 A Simple CSS Grid Framework
 =================================

\*-----------------------------------*/

/*-----------------------------------*\
 $RESET
\*-----------------------------------*/

* {
 margin: 0;
 padding: 0;
 position: relative;
 -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

/*-----------------------------------*\
 $GRID
\*-----------------------------------*/

.grid {
 margin-left: -3%;
 max-width: 105%;
}

.unit {
 display: inline-block;
 *display: inline;
 *zoom: 1;
 vertical-align: top;
 margin-left: 3%;
 margin-right: -.25em;
 /* Clearfix */
 overflow: hidden;
 *overflow: visible;
}

.span-grid {
 width: 97%;
}

.one-of-two { width: 47%; }

.one-of-three { width: 30.36%; }
.two-of-three { width: 63.666666666%; }

.one-of-four { width: 22.05%; }
.three-of-four { width: 72%; }

.one-of-five { width: 17.07%; }
.two-of-five { width: 37%; }
.three-of-five { width: 57%; }
.four-of-five { width: 77%; }

.spacer-5
{
  width: 100%;
  height: 35%
}

@media screen and (max-width: 650px) {
 .grid {
   margin-left: 0;
   max-width: none;
 }

 .unit {
   width: auto;
   margin-left: 0;
   display: block;
 }
}
