html, body {
  font-family: 'CooperHewitt', 'Chivo', sans-serif;
  font-size: 16px;
  font-weight: 300;
  height: 100%;
  margin: 0;
  padding: 0;
}
header{
  background: url('../img/cover-image.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  padding: 16rem 0;
  text-align: center;
  vertical-align: top;
}
h1{
  font-size: 4rem;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
}
.button{
  background-color: #ef4642;
  height: 4rem;
  letter-spacing: 3px;
  margin: 0 auto;
  text-transform: uppercase;
  width: 15%;
}
.slider {
  height: 100%;
}
.login {
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.login a{
  color: white;
  display: block;
  text-decoration: none;
}
.lets-go {
  padding: 1.5rem 0;
}
.container {
  margin: 0 auto;
  padding: 2rem 0;
  width: 75%;
}
.three-columns {
  border-bottom: 1px solid #d0d2d4;
  padding: 2rem 0;
}
.column-image {
  margin: 2rem 0;
  max-width: 100%;
}
footer {
  background-color: #ef4642;
  color: white;
}
.spacer-5 {
  width: 100%;
  height: 35%;
}
hr.style-two {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}